<template>
    <!-- The user interface is divided in 2 parts : chart results and user settings -->
    <div id="simulator-page">
      <h1 class="content">Assessing VoD pressure on network power consumption</h1>
      <div class="columns is-multiline">
        <div class="column is-10">
          <!-- Results / Charts -->
          <section ref="detailedPlot">
            <b-colorpicker v-model="editedColorScenario.color" ref="colorPicker" append-to-body>
              <template #trigger>
                <div style="position:absolute;top:0"></div>
              </template>
            </b-colorpicker>
            <s-chart style="height:400px"
              horizontal
              :chart-data="data2chart(all_results,'data')"
              :title="(subtractBaseline?'Difference of annual':'Annual')+' power consumption ('
                      + unit(network_energy_parts)+')'"
              @labelClick="onLabelClick"
              @legendColorClick="onLegendColorClick"
              @legendLabelClick="onLegendLabelClick"
            ></s-chart>
          </section>
        </div>
        <div class="column is-2">
          <section>
            <s-chart style="height:400px"
              ref="totalPlot"
              hide-legend
              :chart-data="data2chart(all_results,selectedSummary)"
              title=""
            ></s-chart>
            <b-field  style="margin-top: -33px; margin-left:55px; background-color: white;">
              <b-select v-model="selectedSummary" size="is-small"  style="">
                <option v-for="[key,label] in Object.entries(summaries)" :key="key" :value="key">{{label}}</option>
              </b-select>
              <span style="background-color: white; width:100%;padding-left: 1em;font-size: 0.9em; padding-top:0.2rem">
                ({{unit(all_results[0][selectedSummary])}})
              </span>
            </b-field>
          </section>
        </div>
  
        <div class="column is-6">
          <div id="container">
            <div id="content">
              <section style="padding:0.5rem 1rem">
                <b-field horizontal label="Active scenario">
                  <b-field>
                    <b-select expanded v-model="selectedScenario" placeholder="Select a scenario">
                        <option
                            v-for="opt in scenarios.filter(s=>s.selectable)"
                            :value="opt.name"
                            :key="opt.name">
                            {{ opt.name }}
                        </option>
                    </b-select>
                    <p class="control">
                        <span class="button is-static">inherits '{{ scenario(selectedScenario).parent }}'</span>
                    </p>
                    <p class="control">
                      <b-tooltip label="This scenario cannot be deleted because it has one or more children." multilined position="is-bottom" :delay="500" type="is-warning" :active="!canDeleteScenario(selectedScenario)">
                        <b-button type="is-danger" label="Delete" :disabled="!canDeleteScenario(selectedScenario)" @click="deleteScenario(selectedScenario)" />
                      </b-tooltip>
                    </p>
                    <p class="control">
                      <b-button type="is-primary" @click="addNewScenario">
                        New scenario
                      </b-button>
                    </p>
                    <p class="control">
                      <b-tooltip label="Export all scenarios" multilined position="is-bottom" :delay="500" type="is-warning" >
                        <b-button class="is-primary is-light fa fa-download" @click="downloadAllScenarios()"></b-button> 
                      </b-tooltip>
                    </p>
                    <p class="control">
                      <b-tooltip label="Import scenarios" multilined position="is-left" :delay="500" type="is-warning">
                      <div class="file is-light">
                      <label class="file-label">
                        <input class="file-input" type="file" name="resume" @change="getFileContent">
                        <span class="file-cta">
                          <i class="fa fa-upload"></i>
                        </span>
                      </label>
                     </div>
                    </b-tooltip>
                    </p>
                  </b-field>
                </b-field>
                <!-- <b-field>
                  <p class="control">
                    <b-button expanded @click="runICT4S">
                      Load ICT4S scenarios
                    </b-button>
                  </p>
                </b-field> -->
              </section>
              <hr style="margin:0">
              <!-- User settings -->
              <section>
                <b-tabs destroy-on-hide>
                  <b-tab-item label="General">
                    <s-clip-me>
                    <s-category
                      title="Baseline"
                      :raw_datas="data_filter('usage')"
                      :raw_initial_datas="initial_data_filter('usage')"
                      :computed_datas="bottom_up_general_computed_datas"
                      :isActiveInit="true"
                      @add_formula="display_formula"
                      @change="refresh()"
                      />
                    </s-clip-me>
                  </b-tab-item>
                  <b-tab-item label="Usages">
                    <b-tabs destroy-on-hide>
                      <b-tab-item label="VOD">
                        <s-clip-me>
                        <s-category
                            title="VOD"
                            v-bind:raw_datas="data_filter('vod')"
                            v-bind:raw_initial_datas="initial_data_filter('vod')"
                            v-bind:computed_datas="bottom_up_vod_computed_datas"
                            :isActiveInit="false"
                            @add_formula="display_formula"
                            @change="refresh()"
                        />
                        </s-clip-me>
                      </b-tab-item>
                      <b-tab-item label="Large download">
                        <s-clip-me>
                        <s-category
                            title="Large download"
                            v-bind:raw_datas="data_filter('dl')"
                            v-bind:raw_initial_datas="initial_data_filter('dl')"
                            v-bind:computed_datas="bottom_up_dl_computed_datas"
                            :isActiveInit="false"
                            @add_formula="display_formula"
                            @change="refresh()"
                        />
                        </s-clip-me>
                      </b-tab-item>
                      <b-tab-item label="Video Call">
                        <s-clip-me>
                        <s-category
                            title="Video Call"
                            v-bind:raw_datas="data_filter('videocall')"
                            v-bind:raw_initial_datas="initial_data_filter('videocall')"
                            v-bind:computed_datas="bottom_up_videocall_computed_datas"
                            :isActiveInit="false"
                            @add_formula="display_formula"
                            @change="refresh()"
                        />
                        </s-clip-me>
                      </b-tab-item>
                    </b-tabs>
                  </b-tab-item>
                  <b-tab-item label="Network">
                    <b-tabs destroy-on-hide>
                      <b-tab-item label="Network settings">
                        <s-clip-me>
                        <s-category
                          title="Network settings"
                          v-bind:raw_datas="data_filter('network')"
                          v-bind:raw_initial_datas="initial_data_filter('network')"
                          v-bind:computed_datas="bottom_up_network_computed_datas"
                          :isActiveInit="false"
                          @add_formula="display_formula"
                          @change="refresh()"
                        />
                        </s-clip-me>
                      </b-tab-item>
                      <b-tab-item label="CDN">
                        <s-clip-me>
                        <s-category
                            title="CDN"
                            v-bind:raw_datas="data_filter('cdn')"
                            v-bind:raw_initial_datas="initial_data_filter('cdn')"
                            v-bind:computed_datas="bottom_up_cdn_computed_datas"
                            :isActiveInit="false"
                            @add_formula="display_formula"
                            @change="refresh()"
                        />
                        </s-clip-me>
                      </b-tab-item>
                      <b-tab-item label="Devices">
                        <s-clip-me>
                        <s-table
                          v-bind:table="network_devices"
                          title="Devices"
                          :number_columns="['power', 'Psleep', 'capacity']"
                          :hidden_columns="['reference_ids']"
                        />
                        </s-clip-me>
                      </b-tab-item>
                    </b-tabs>
                  </b-tab-item>
                </b-tabs>
              </section>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div id="container" class="formula-container">
            <div style="margin-top:0.5rem">
              <b-field class = "has-addons">
                <b-switch v-model="subtractBaseline">
                  subtract {{ all_results[0].label }}
                </b-switch>
              </b-field>
            </div>
            <hr style="margin:0.5rem 0"/>
            <div class="content">
              <s-clip-me>
                <button v-if="formula !== null" @click="exitFormula"  class = "delete is-pulled-right" style="margin-right : 15px"></button>
              <s-formula
              class = "formula-origin"
                v-if="formula !== null"
                :formula_object="formula"
                :computed_data="[]"
                :raw_data="[]"
                :parent_formula="formula.label"
                :context="context()"
                :count ="0"
                @clickObject="formula=peak_rate_estimator_formula"
              />
              <p v-else class="content">
                <p>
                  This web application is a demo of the methodology and model detailed in the paper <a href="https://hal.science/hal-04059523">Assessing VoD pressure on network power consumption</a>.
                  It's purpose is to estimate the dimensioning and power consumption of a fiber network infrastructure that is ideally sized to satisfy different usage scenarios. It is tailored to cover a territory of the size of France centered around a main <a href="https://en.wikipedia.org/wiki/Internet_Exchange_Point">IXP</a> collocated with a unique <a href="https://en.wikipedia.org/wiki/Content_delivery_network">CDN</a> playing the role of a cache. It further assumes a single network operator and a single VoD content provider with a limited catalog. Out of cache content (and daily cache updates) are handled by a main datacenter connected to the main IXP through a transatlantic submarine cable. Please read the paper for other assumptions and technical details.
                  <br/>
                  <strong>Disclaimer:</strong> owing to all those simplifications and optimistic assumptions, the reported absolute values have to be considered with care. The reality is indeed by far more complicated with a mix of technologies having different efficiency levels, and the competition between the different operators and actors plays also an important role in the effective dimensioning that is not taken into account by our model. Nevertheless, the trends between the different scenarios are expected to be representative enough to distinguish scenarios putting a high pressure on the network in contrast to more sober scenarios.
                </p>
                <hr/>
                <h3>Tips</h3>
                <ul>
                  <li>Click a label of the plot to display the underlying formula.</li>
                  <li>Click an item of the legend to hide/show the respective scenario.</li>
                  <li>Scenarios are defined in a hierarchical manner: for a given scenario, modifying the value of a given parameter will modify the respective parameter value of its descendants,
                    excepted for those having this parameter <i>overwritten</i>. Overwritten parameters are identified by a <sup>*</sup> symbol.
                    Changing the value of a parameter turns it to the <i>overwritten</i> state for the current scenario.
                  </li>
                </ul>
              </p>
              </s-clip-me>
            </div>
            <!-- <div class="column is-full content" style="height: 10em; overflow-y: scroll;">
              <blockquote  class="scroll">
                <code style="white-space: pre">{{logMsg}}</code>
              </blockquote>
            </div> -->
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            This page is a demo of the methodology and models detailed in the paper <a href="https://hal.science/hal-04059523">Assessing VoD pressure on network power consumption</a>, by Gaël Guennebaud, Aurélie Bugeau, Antoine Dudouit (Inria, Bordeaux University, LaBRI), Proceedings of ICT4S 2023. <a href="https://gitlab.inria.fr/limits4ict/assessing-vod-pressure-on-network-power-consumption/">Source code</a>.
          </p>
        </div>
      </footer>
      <!-- <div style="height: 2em;">
      </div> -->
    </div>
</template>
  
<script>
  import { utils, pSBC } from "../utils.js"
  import ftth_model from "./ftth-model.js"

  export default {
    name: "FTTH-simulator",
  
    components: {
      "s-chart": () => import("@/components/s-chart.vue"),
      "s-category": () => import("@/components/s-category.vue"),
      "s-table": () => import("@/components/s-table.vue"),
      "s-formula": () => import("@/components/s-formula.vue"),
      "s-clip-me": () => import("@/components/s-clip-me.vue")
    },
  
    mixins: [utils, ftth_model],
  
    created() {
      let def = this.createScenario("default", null)
      def.selectable = false
      def.showPlot = false
      let common = this.createScenario("common", "default")
      common.showPlot = false
      let current = this.createScenario("current", "common")

      this.runICT4S()

      this.peak_rate_estimator_formula = this.makeFormula("peak rate estimator", () => this.base + this.vod + this.vgdl + this.videocall)
    },
  
    data() {
      return {
        formula: null,
        editedColorScenario: {color:"#fff"},
        logMsg: "==== Log ====\n",
        refreshKey: 0,
        scenarios: [],
        selectedScenario: "common",
        selectedSummary: "total",
        subtractBaseline: false,

        summaries: {
          total: "total",
          volume: "volume",
          intensity: "intensity"
        },
  
        // chart colors
        colors: [
          // https://www.learnui.design/tools/data-color-picker.html
          // "#003f5c", "#2f4b7c", "#665191", "#a05195", "#d45087", "#f95d6a", "#ff7c43", "#ffa600",
          // interleaved
          // "#003f5c", "#665191", "#d45087", "#ff7c43", "#2f4b7c", "#a05195", "#f95d6a", "#ffa600",

          // "retro-metro" https://www.heavy.ai/blog/12-color-palettes-for-telling-better-stories-with-your-data
          "#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6",

          // "spring pastel" https://www.heavy.ai/blog/12-color-palettes-for-telling-better-stories-with-your-data
          // "#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7",

          // "#92a8d1", "#034f84", "#f7cac9", "#f7786b", "#80ced6", "#fefbd8", "#618685", "#d5f4e6", "#50394c", "#b2b2b2", "#f18973", "#ffef96",
        ],
        peak_rate_estimator_formula: null
      }
    },

    watch: {
      selectedScenario(newVal,oldVal) {
        this.loadScenario(newVal)
      }
    },
  
    computed: {
      
      // intermediate values
  
      bottom_up_vod_computed_datas(){
        return[];
      },
  
      bottom_up_network_computed_datas() {
        return [];
      },
  
      bottom_up_dl_computed_datas(){
        return [];
      },
  
      bottom_up_cdn_computed_datas() {
        return [
        ];
      },
      bottom_up_videocall_computed_datas(){
        return [];
      },
  
      bottom_up_general_computed_datas() {
        return [
          // this.bordeaux_household_nb,
          // this.average_peak_rate_per_subscription,
          // this.bordeaux_peak_rate,
          // this.level0_capacity,
          // this.level1_capacity,
          // this.undersea_usa_paris_capacity,
          // this.filling_rate,
          // this.nb_sub_per_gpon,
          // this.nb_ge_per_olt
        ]
      },
  
      // chart's data
      network_energy_parts() {
        return [
          this.home_devices_energy,
          this.olt_energy,
          this.national_core_energy,
          this.international_core_energy,
          this.dynamic_streaming_network_energy,
          this.cdn_energy
        ]
      },
      all_results() {
        let results = []
        for(let scenario of this.scenarios) {
          if(scenario.showPlot) {
            this.loadScenario(scenario.name)
            let total = this.makeValue("total", () => this.network_energy_parts.reduce((a,b)=>a+b,0), "Wh", "GWh")
            let volume = this.total_volume
            let intensity = this.makeValue("intensity (Wh/GB)", () => total/volume, "Wh/B", "Wh/GB")
            results.push({
              label: scenario.name,
              data: this.network_energy_parts,
              total: [total],
              volume: [volume],
              intensity: [intensity]
            })
          }
        }
        this.refreshKey
        this.loadScenario(this.selectedScenario)
        return results
      }
    },
  
    methods: {

      onLabelClick(labelInfo) {
        this.formula = this.network_energy_parts[labelInfo.index]
      },

      onLegendLabelClick(legendItem) {
        this.$refs.totalPlot.toggleSerie(legendItem.datasetIndex)
      },

      onLegendColorClick(legendItem, legend) {
        const colorPicker = document.querySelector('body .colorpicker .dropdown .dropdown-menu')
        const name = this.all_results[legendItem.datasetIndex].label
        if(colorPicker.style.display === "none" || name !== this.editedColorScenario.name ) {
          this.editedColorScenario = this.scenario(name)
          let rect = this.$refs.detailedPlot.getBoundingClientRect()
          const box = legend.legendHitBoxes[legendItem.datasetIndex]
          const anchor = document.querySelector('#simulator-page .colorpicker .dropdown')
          anchor.style.top = (box.top+15)+'px'
          anchor.style.left = (box.left)+'px'
          this.$refs.colorPicker.toggle()
        }
      },

      refresh() {
        this.refreshKey++
      },

      context() {
        if (this.formula.label === "peak rate estimator") {
          return this.peak_rate_estimator
        }
        return this
      },

      copySettings(target, overwritten=false) {
        for(let s of utils.settings) {
          target.push({
            original: s,
            value: s.value,
            overwritten: overwritten,
          })
        }
      },

      loadScenario(name) {
        let scenario = this.scenario(name)
        if(scenario.parent) {
          this.loadScenario(scenario.parent)
        }
        for (let s of scenario.settings) {
          if (s.overwritten) {
            this.get_param(s.original.name).value = s.value
          } else {
            // update the cached value (currently used for editing only)
            s.value = this.get_param(s.original.name).value
          }
        }
      },

      scenario(name) {
        try {
          return this.scenarios.filter(e => e.name === name)[0]
        }
        catch {
          return null
        }
      },

      addNewScenario() {
        let self = this
        this.$buefy.dialog.prompt({
                message: `This will create a new scenario with '`+this.selectedScenario+`' as parent.`,
                inputAttrs: {
                    placeholder: 'Enter the new scenario name',
                    maxlength: 30
                },
                trapFocus: true,
                onConfirm: function (name) {
                  self.createScenario(name,self.selectedScenario)
                  self.selectedScenario = name
                }
            })
      },

      createScenario(name, parent="common", color=null) {
        let res = {
          name: name,
          parent: parent,
          selectable: true,
          showPlot: true,
          settings: [],
          devices: [],
          initialSettings:[],
          modifiableInitialSettings: false,
          color: color,
          set: function (pname, val) {
            if(this.modifiableInitialSettings){
              //Modify initial settings for base scenarios (baseline, HD@3Mbps ...)
              let paramInitial = this.initialSettings.find(p => p.original.name === pname)
              paramInitial.value = val
              paramInitial.overwritten = true
            }
            let param = this.settings.find(p => p.original.name === pname)
            param.value = val
            param.overwritten = true
          },
          get: function(pname) {
            return this.settings.find(p => p.original.name === pname)
          }
        }
        if (parent && !color) {
          res.color = pSBC(-0.2, this.scenario(parent).color, false, false)
        }
        if(parent) {
          this.loadScenario(parent)
        }
        this.copySettings(res.settings, !parent)
        this.copySettings(res.initialSettings, !parent)
        this.scenarios.push(res)
        if(parent) {
          this.loadScenario(this.selectedScenario)
        }
        return res
      },

      canDeleteScenario(name) {
        if (name==='default' || name==='common') {
          return false
        }
        for(let scenario of this.scenarios) {
          if (scenario.parent === name) {
            return false
          }
        }
        return true
      },

      deleteScenario(name) {
        this.scenarios = this.scenarios.filter(scenario => scenario.name !== name)
        if (this.selectedScenario === name) {
          this.selectedScenario = 'common'
        }
      },

      runICT4S() {

        this.deleteScenario("current")

        let baseline = this.createScenario("baseline", "common", this.colors[6])
        baseline.modifiableInitialSettings = true
        baseline.set('max_gpon_port_per_olt', 256)
        baseline.set('streaming_rate', 0)
        baseline.set('vgdl_rate', 0)
        baseline.set('videocall_user_percentage', 0)
        baseline.set('vod_viewer_percentage', 100)
        baseline.set('nb_dtt_cache_per_home', 0)
        
        const vodColor = this.colors[7]
        const dttColor = this.colors[1]
        const dlColor = this.colors[3]

        // create HD@3Mbps
        let vodHD3Mbps = this.createScenario("HD@3Mbps", "baseline", pSBC(0.3,vodColor))
        vodHD3Mbps.modifiableInitialSettings = true
        vodHD3Mbps.set('streaming_rate', 3)
    
        // create FHD@5Mbps
        let vodFHD5Mbps = this.createScenario("FHD@5Mbps", "baseline", pSBC(0.1,vodColor))
        vodFHD5Mbps.modifiableInitialSettings = true
        vodFHD5Mbps.set('streaming_rate', 5)
    
        // create UHD@16Mbps
        let vodUHD16Mbps = this.createScenario("UHD@16Mbps", "baseline", pSBC(-0.1,vodColor))
        vodUHD16Mbps.modifiableInitialSettings = true
        vodUHD16Mbps.set('streaming_rate', 16)
    
        // create UHD@16Mbps+HDR @60fps
        let vodUHD27Mbps = this.createScenario("UHD+@27Mbps", "baseline", pSBC(-0.3,vodColor))
        vodUHD27Mbps.modifiableInitialSettings = true
        vodUHD27Mbps.set('streaming_rate', 27)
    
        // create DTT home caching scenarios
        let vvp = baseline.get('video_viewer_percentage').value

        // create HD@3Mbps + DTT home caching @50%
        let dttFHD5Mbps = this.createScenario("FHD@5Mbps + DTT@50%", "FHD@5Mbps", pSBC(0.1,dttColor))
        dttFHD5Mbps.modifiableInitialSettings = true
        dttFHD5Mbps.set('video_viewer_percentage', vvp*0.5)
        dttFHD5Mbps.set('nb_dtt_cache_per_home', 1)
        // TODO make the above a dynamic formula
        // TODO add consumption of DTT homecaching device
        
        // create UHD@16Mbps + DTT home caching @25%
        let dttUHD16Mbps = this.createScenario("UHD@16Mbps + DTT@25%", "UHD@16Mbps", pSBC(-0.1,dttColor))
        dttUHD16Mbps.modifiableInitialSettings = true
        dttUHD16Mbps.set('video_viewer_percentage', vvp*0.75)
        dttUHD16Mbps.set('nb_dtt_cache_per_home', 1)
        // TODO make the above a dynamic formula
        
        // create largefile download
        let dlMbps = 200
        let dlGBpy = 300
        let percent_gamers_sync = 3
        let largeDL = this.createScenario("Large download", "baseline", dlColor)
        largeDL.modifiableInitialSettings = true
        largeDL.set('streaming_rate', 0)
        // largeDL.set('viewing_hour_nb', 0)
        largeDL.set('vgdl_rate', dlMbps)
        largeDL.set('vgdl_percentage', percent_gamers_sync)
        largeDL.set('average_yearly_vgdl_volume', dlGBpy)
        largeDL.set('vgdl_confidence', -6)
        largeDL.set('stored_content_in_paris_percentage', 95)
        largeDL.set('storage_server_nb', 8)

        for (let scenario of this.scenarios) {
          if (scenario.showPlot) {
            this.loadScenario(scenario.name)
            this.print_info(scenario.name)
          }
          scenario.modifiableInitialSettings = false
        }

        this.selectedScenario = "baseline"
        this.loadScenario(this.selectedScenario)
      },

      logLine() {
        this.logMsg += '\n' // + arguments.map(e => String(e)).join(" ")
        for (let i = 0; i < arguments.length; i++) {
          this.logMsg += arguments[i] + ' '
        }
        // console.log(...arguments)
      },
  
      print_info(label) {
        let self = this
        this.logLine(label)
        this.logLine("  Rgpon:", self.peak_rate_estimator.total(this.get_value(self.nb_sub_per_gpon))*1e-9, "Gbps")
        this.logLine("  Rhub:", this.get_value(self.level_hub_capacity) / this.get_value('terrestrial_future_growth_factor')*1e-9, "Gbps")
        this.logLine("  Redge:", this.get_value(self.level_edge_capacity) / this.get_value('terrestrial_future_growth_factor')*1e-9, "Gbps")
        this.logLine("  R2:", this.get_value(self.level2_capacity) / this.get_value('terrestrial_future_growth_factor')*1e-9, "Gbps")
        this.logLine("  R1:", this.get_value(self.level1_capacity) / this.get_value('terrestrial_future_growth_factor')*1e-12, "Tbps")
        this.logLine("  R0:", this.get_value(self.level0_capacity) / this.get_value('terrestrial_future_growth_factor')*1e-12, "Tbps")
        this.logLine("  R_U", this.get_value(this.datacenter_to_IXP_peak_rate)*1e-12, "Tbps")
        this.logLine("  P_intU", this.get_value(this.international_undersea_wdm_power)* 24 * 365*1e-9,"GWh")
        this.logLine("  P_intT", this.get_value(this.international_terrestrial_core_power)* 24 * 365*1e-9,"GWh")
        this.logLine("  P_int", this.get_value(this.international_core_energy)*1e-9,"GWh")
        this.logLine("  P_nat", this.get_value(this.national_core_energy)*1e-9,"GWh")
        this.logLine("  P_CDN", this.get_value(this.cdn_energy)*1e-9,"GWh")
        this.logLine("  P_OLT", this.get_value(this.olt_energy)*1e-9,"GWh")
        this.logLine("  P_ONU",this.get_value(this.onu_energy)*1e-9,"GWh")
        this.logLine("  P_total\\ONU", (this.get_value(this.international_core_energy)+this.get_value(this.national_core_energy)+this.get_value(this.cdn_energy)+this.get_value(this.olt_energy))*1e-9,"GWh")
        this.logLine("  P_dyn", this.get_value(this.dynamic_streaming_network_energy)*1e-9,"GWh")
        this.logLine("  Volume", (this.get_value(this.baseline_volume)+this.get_value(this.streaming_volume)+this.get_value(this.vgdl_volume))*1e-18,"EB")
        // this.logLine("  NbOCA", this.oca_nb.value)
        // this.logLine("  Data_size/sub",this.data_size_per_sub.value)
        this.logLine("")
      },
  
      display_formula(item) {
        this.formula = item;
      },
  
      data_filter(category) {
        return this.scenario(this.selectedScenario).settings.filter(e => e.original.category === category)
      },
      initial_data_filter(category){
        return this.scenario(this.selectedScenario).initialSettings.filter(e => e.original.category === category)
      },
  
      // join saved and current datasets in the correct format.
      // Input:
      // [
      //   {
      //     label: "scenario name",
      //     'field': [
      //       {value: x0, label: "part0", unit: "", ...},
      //       ... xN
      //     ]
      //   },
      //   ...
      // ]
      // Output:
      // {
      //   datasets: [
      //     {label: "scenario name", backgroundColor: "#...", data: [x0, ... xN]},
      //     ...
      //   ],
      //   labels: ["part0", ... xN]
      // }
      data2chart(datas, field) {
        let datacollection = {
          labels: datas[0][field].map(e => e.label),
          datasets: [],
        };

        for (let i = 0; i < datas.length; i++) {
          datacollection.datasets.push({
            label: datas[i]["label"],
            backgroundColor: this.scenario(datas[i].label).color,
            data: datas[i][field].map(d => this.ref2unit(d, "value").value),
          })
        }

        let baseline = this.clone_obj(datacollection.datasets[0].data)
        if (this.subtractBaseline && ["Wh","B"].includes(datas[0][field][0].computing_unit)) {
          for (let collection of datacollection.datasets) {
            let data = collection.data
            for (let j=0; j<data.length; j++) {
              data[j] -= baseline[j]
            }
          }
        }
        return datacollection;
      },
  
      // generate the title
      unit(datas) {
        let addDelta = this.subtractBaseline && ["Wh","B"].includes(datas[0].computing_unit)
        return (addDelta?'Δ ':'') + this.ref2unit(datas[0], "value").unit
      },
      exitFormula(){
        this.formula = null;
      }, 
      downloadAllScenarios(){
        const data = this.scenarios;
        const jsonData = {} ;
      
        data.forEach((scenario) => {
          const scenarioParam = {
          name: scenario.name,
          parent: scenario.parent,
          showPlot: scenario.showPlot,
          selectable: scenario.selectable,
          settings: {}
        };

        this.scenario(scenario.name).settings.forEach((setting) => {
          if(setting.overwritten){
            const scenarioSettings = {
                name:  setting.original.name,
                label: setting.original.label,
                value: setting.value,
                unit:  setting.original.unit
              };
              scenarioParam.settings[setting.original.name] = scenarioSettings
            }
          });
          jsonData[scenario.name] = scenarioParam
        });
        const jsonString = JSON.stringify(jsonData)
        this.downloadFile (jsonString, 'export.json', 'application/json')
      },
      downloadFile(content, filename, contentType) {
        // Create a blob
        let blob = new Blob([content], { type: contentType })
        let url = URL.createObjectURL(blob)

        // Create a link to download it
        let link = document.createElement('a')
        link.href = url;
        link.setAttribute('download', filename)
        link.click()
      },
      getFileContent(event) {
        const file = event.target.files[0]
        const reader = new FileReader()

        reader.onload = (e) => {
          const fileContent = e.target.result
          const contentData = JSON.parse(fileContent)

          this.loadFileContent(contentData)
        }
        reader.readAsText(file)
      },
      loadFileContent(data){
        const scenarioNameArray = []
        for (const scenarioName in data) {
          const scenarioData = data[scenarioName]
          const scenario  = this.scenario(scenarioName)
          const scenarioParent = scenarioData['parent']
          const isValidParent = this.scenarios.find(s => s.name === scenarioParent)

          if(scenarioParent != null && !isValidParent){
            throw new Error(`Invalid parent : ${scenarioParent}.`)
          }

          if(scenario != null){
            if(scenarioParent != null){
              scenario.parent = scenarioParent
              this.copyParentSettings(scenario, this.scenario(scenarioParent))
            }
            this.setNewSettings(scenarioData, scenario)
          }
          else{
            const newScenario = this.createScenario(scenarioName, scenarioParent)
            this.setNewSettings(scenarioData, newScenario)
          }
          scenarioNameArray.push(scenarioName)
        }
        this.deleteUselessScenarios(scenarioNameArray)
      },
      setNewSettings(scenarioData, scenario){
        scenario.showPlot = scenarioData['showPlot']
        scenario.selectable = scenarioData['selectable']

        for(const settingName in scenarioData['settings']){
         const currentSetting = scenario.settings.find((s) => s.original.name === settingName)
         if(currentSetting){
            scenario.set(settingName, scenarioData['settings'][settingName].value)
         }
         else{
            throw new Error(`The key ${settingName} is not a valid setting name.`)
         }
        }
      },
      copyParentSettings(scenario, parent){
        scenario.settings.forEach((setting) => {
          const currentParentSetting = parent.settings.find((s) => s.original.name === setting.original.name)
          scenario.set(setting.original.name, currentParentSetting.value)
          setting.overwritten = false
        })
      },
      deleteUselessScenarios(scenariosName) {
        for (let i = this.scenarios.length - 1; i >= 0; i--) {
          if (!scenariosName.includes(this.scenarios[i].name)) {
            this.deleteScenario(this.scenarios[i].name);
          }
        }
      },
    },
  }
  </script>
  
<style>
#simulator-page .colorpicker .dropdown {
  display:block;
  width:0px;
  height:0px;
  overflow: hidden;
  position:absolute;
}
</style>