<template>
  <!-- contains intermediate results and s-slider components -->
  <div id="s-category">
      <template v-if="computed_datas.length>0">
        <div v-for="(computed_data, index) in computed_datas" :key="index">
          <b-field>
            <p>
              {{ computed_data["label"] }} =
              {{ round(ref2unit(computed_data, "value").value,1) }}
              <span class="unit">
                {{ ref2unit(computed_data, "value").unit }}
              </span>
            </p>
            <button class="button s-icon" @click="on_click_formula_info(computed_data)">
              <b-icon icon="fa-solid fa-info" />
            </button>
          </b-field>
        </div>
        <br/>
      </template>
      <section class="content">
        <div v-for="(param,index) in raw_datas" :key="param['label']">
          <s-slider :setting="param.original" :overwritten="param['overwritten']" :value="param['value']" :initial_value="raw_initial_datas[index]['value']" @input="updateValue(param, $event, true)" @reset="updateValue(param,raw_initial_datas[index]['value'], raw_initial_datas[index]['overwritten']) "/>
        </div>
      </section>
    </div>
</template>

<script>
import { utils } from "../utils.js"

export default {
  name: "s-category",

  components: {
    "s-slider": () => import("@/components/s-slider.vue"),
  },

  mixins: [utils],

  props: ["title", "raw_datas", "raw_initial_datas", "computed_datas"],

  data() {
    return { }
  },

  methods: {
    updateValue(param, newVal, isOverwritten) {
      if(param.value!=newVal) {
        param.value=newVal
        param['overwritten'] = isOverwritten
        this.$emit('change')
      }
    },
    on_click_formula_info(event) {
      this.$emit("add_formula", event)
    },
  },
};
</script>