
<template>
  <Bar ref="bar" :chart-data="chartData" :chart-options="options" :plugins="plugins" />
</template>

<script>

import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'
ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const findLabel = (axes, evt) => {
  let found = false
  let res = null

  axes.forEach(axis => {
    axis.labels.forEach((label, index) => {
      if (evt.x > label.x && evt.x < label.x2 && evt.y > label.y && evt.y < label.y2) {
        res = {
          label: label.label,
          index,
          axis: axis.axisId
        };
        found = true;
      }
    });
  });
  return [found, res];
};

const getLabelHitboxes = (scales) => (Object.values(scales).filter(s=>('_labelItems' in s)).map((s) => ({
  axisId: s.id,
  labels: s._labelItems.map((e, i) => ({
    x: e.translation[0] - s._labelSizes.widths[i]-4,
    x2: e.translation[0]+4,
    y: e.translation[1] - s._labelSizes.heights[i] / 2-4,
    y2: e.translation[1] + s._labelSizes.heights[i] / 2+4,
    label: e.label,
    index: i
  }))
})));

export default {
  name: "s-chart",

  components: {Bar},

  props: {
    chartData: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      default: "",
    },
    horizontal: {
      type: Boolean,
      default: false
    },
    hideLegend: {
      type: Boolean,
      default: false
    },
  },

  data() {
    return {
      isOnLabel: false,
      userOptions: {
        indexAxis: this.horizontal ? 'y' : 'x',
        responsive: true,
        maintainAspectRatio: false,
        offsetGridLines: false,
        plugins: {
          title: {
            display: true,
            position: "bottom",
            padding: 0,
            lineHeight: 1,
          },
          legend: {
            display: !this.hideLegend,
            padding: 0,
            position: "bottom",
            align: "start",
            onHover: () => {
              document.body.style.cursor = "pointer"
              this.isOnLabel = true
            },
            onLeave: () => {
              this.isOnLabel = false
              document.body.style.cursor = "default"
            },
            onClick: (event, legendItem, legend) => {
              const box = legend.legendHitBoxes[legendItem.datasetIndex]
              const hitColor = event.x-box.left<43
              if (hitColor) {
                this.$emit("legendColorClick", legendItem, legend)
              } else {
                this.toggleSerie(legendItem.datasetIndex)
                this.$emit("legendLabelClick", legendItem)
              }
            },
          },
        },
        animation: {
          colors: false
          // duration: 0,
        },
        
        scales: {
          x: {
            ticks: {
              beginAtZero: true,
            },
          },
        },

        tooltips: {
          callbacks: {
            label: function (context, data) {
              var value = context.value;
              var datasel_label =
                data["datasets"][context.datasetIndex].label;
              return (
                datasel_label +
                ": " +
                Math.round(value * Math.pow(10, 2 || 0)) /
                  Math.pow(10, 2 || 0)
              );
            },
          },
        },
      },
      plugins: [{
          id: 'customHover',
          afterEvent: (chart, evt, opts) => {
            const event = evt.event
            try{
              const [found, labelInfo] = findLabel(getLabelHitboxes(chart.scales), event);
              if (found && labelInfo.axis === 'y') {
                if (event.type == 'mousemove' && document.body.style.cursor !== "pointer") {
                  document.body.style.cursor = "pointer"
                }
                else if (event.type == 'click') {
                  this.$emit('labelClick', labelInfo)
                  return;
                }
              } else if (!this.isOnLabel) {
                document.body.style.cursor = "default";
              }
            }
            catch {
              if (!this.isOnLabel) {
                document.body.style.cursor = "default";
              }
              return
            }
          }
        }],
    };
  },

  computed: {
    options() {
      let options = this.userOptions
      options.plugins.title.text = this.title
      return options
    },
  },

  methods: {
    toggleSerie(index) {
      const chartInstance = this.$refs.bar
      chartInstance.chart.getDatasetMeta(index).hidden = !chartInstance.chart.getDatasetMeta(index).hidden
      chartInstance.updateChart()
    }
  },
};
</script>
