<template>
    <div ref="me" style="overflow-y:scroll">
        <slot></slot>
    </div>
  </template>
  
  <script>
  export default {
    name: "s-clip-me",
  
    data() {
      return { }
    },
  
    mounted() {
      setTimeout(this.updateHeight, 500)
    },
    methods: {
      updateHeight() {
        let parent = this.$refs.me.parentElement
        while(parent.parentElement && parent.id!=="container") {
          parent = parent.parentElement
        }
        if(parent.id==="container") {
          let rect = this.$refs.me.getBoundingClientRect()
          let boundingRect = parent.getBoundingClientRect()
          this.$refs.me.style.height = String(Math.floor(boundingRect.height-(rect.y-boundingRect.y)-5))+'px'
        }
      }
    }
  };
  </script>