<template id="s-computed-tooltip">
  <!-- tooltip wich for computed data -->
  <b-tooltip
    append-to-body
    class="computed-tooltip"
    position="is-bottom"
    size="is-large"
    multilined
    type="is-reference"
    :triggers="['click']"
    :auto-close="['outside', 'inside']">
    <template #content>
      <b>
          {{computed_object.label}}
      </b>
      <p v-if="'comments in computed_object'">
        {{ computed_object.comments }}
      </p>
    </template>
    <slot></slot>
  </b-tooltip>
</template>
<script>
  import { utils } from "../utils.js";

  export default {
      name:"s-computed-tooltip",
      props: ["computed_object"],
      mixins: [utils],

      data(){
          return {}
      },
  };
</script>