 <template>
  <!-- recursive component which displays the formula that calculated a value -->
  <div v-if="formula_object.formula !== undefined" id="s-formula">
    <b v-if="name === undefined">
      {{formula_object.label}}<template v-if="'value' in formula_object"> ({{item_value}}<span class="unit">{{ ref2unit(formula_object, "value").unit }}</span>)</template>
    </b>
    <mark :class="get_class(formula_object,true)" v-else>
      {{name}}<template v-if="'value' in formula_object"> ({{item_value}} <span class="unit">{{ref2unit(formula_object, "value").unit}}</span>)</template>
      <s-computed-tooltip class="computed-tooltip-formula" size="large" :computed_object="formula_object">
        <b-icon icon="fa-solid fa-info"></b-icon>
      </s-computed-tooltip>
    </mark>
    =
    <div class="rhs">
      <span v-for="(formula_object, index) in formula_array" :key="'A' + index">
        <mark class="data" v-if="formula_object.type === 'data'">
          {{formula_object.value.replace(/_/g, " ")}}<template v-if="'value' in formula_object"> ({{value(formula_object).value}}<span class="unit">{{value(formula_object).unit}}</span>)</template>
          <s-reference-tooltip remove-if-null :reference_object="string2references(formula_object.formula)">
            <b-icon icon="fa-solid fa-info"></b-icon>
          </s-reference-tooltip>
        </mark>
        <mark :class="get_class(formula_object,false) + ' clickable'" v-else-if="formula_object.type === 'computed_data'" @click=flash(formula_object)>
          {{formula_object.value.replace(/_/g, " ")}}<template v-if="'value' in formula_object"> ({{value(formula_object).value}}<span class="unit">{{value(formula_object).unit}}</span>)</template>
        </mark>
        <mark class="op" v-else-if="formula_object.type === 'op'">
          {{displayOp(formula_object.value)}}</mark>
        <mark v-else-if="formula_object.type === 'object'" class="object clickable" @click="$emit('clickObject',formula_object.value)">
          {{formula_object.value.replace(/_/g, ' ')}}</mark>
        <mark v-else>
          {{formula_object.value}}
        </mark>
      </span>
    </div>
    <div v-if="data_to_compute.length > 0">
      <s-formula
        v-for="(setting, index) in data_to_compute"
        :key="'B' + index"
        :formula_object="my_eval(setting)"
        :computed_data="computed_data"
        :raw_data="raw_data"
        :parent_formula="parent_formula"
        :context="context"
        :name="setting.slice(5).replace(/_/g, ' ')"
        @clickObject="$emit('clickObject',$event)" >
      </s-formula>
    </div>
  </div>
</template>

<script>
/* eslint-disable */

import { utils } from "../utils.js";

export default {
  name: "s-formula",

  components: {
    "s-reference-tooltip": () => import("@/components/s-reference-tooltip.vue"),
    "s-computed-tooltip" : () => import("@/components/s-computed-tooltip.vue"),
  },

  mixins: [utils],

  props: [
    "context",
    "formula_object",
    "computed_data",
    "name",
    "raw_data",
    "parent_formula",
    "count"
  ],

  computed: {
    
    item_value() {
      try {
        this.formula_object.value = this.my_eval(this.formula_object.formula);
        return this.round(this.ref2unit(this.formula_object, "value").value, 2);
      } catch (error) {
        console.log("error in item_value ", error)
        console.log(" formula:", this.formula_object.formula)
        console.log(" error:", error)
        return ""
      }
    },

    formula_array() {
      let f_array = this.formula2array(this.formula_object);
      let new_raw_data = f_array.filter(
        (item) => this.get_class(item) === "data"
      );
      new_raw_data = new_raw_data.filter(
        (item) =>
          this.raw_data.find((item2) => item.value === item2.value) ===
          undefined
      );
      Array.prototype.push.apply(this.raw_data, new_raw_data);
      return f_array;
    },
    formula_variable_array() {
      return this.extract_variable_from_formula(this.formula_object);
    },
    data_to_compute() {
      let data_to_compute = this.formula_array.filter(item => item.type === "computed_data")
      data_to_compute = data_to_compute.map(item => "this." + item.value)
      data_to_compute = data_to_compute.filter(item => this.computed_data.find((item2) => item === item2) === undefined)
      Array.prototype.push.apply(this.computed_data, data_to_compute)
      return data_to_compute
    },
  },

  methods: {

    my_eval(code){
      return eval(code.replace(/this./g,"this.context."))
    },
    
    string2references(formula_string) {
      return this.my_eval(formula_string.replace(/this.(self.)?get_value/g, "this.$1get_param"));
    },
    get_class(formula_object,big) {
      if (formula_object.type !== "computed_data") {
        if (this.name === undefined)
          return "computed_data"
        else
          return "computed_data " + this.name.replace(/\s/g,"_");}
      if (this.my_eval("this." + formula_object.value).formula == undefined)
        return "data";
      if(!big){
          return "computed_data " + formula_object.value ;
        }
      else{
          return "computed_data " + this.name;
        }
    },
    
    value(item) {
      let result = this.formula_variable_array.find(
        (x) => x.name === item.value
      );
      if('value' in result) {
        result.value = this.round(result.value, 2);
      }
      return result;
    },

    // return an array of different type settings
    extract_variable_from_formula(formula_object) {
     
      let f = formula_object.formula;
      if (f === undefined) return [];
      let l = [];
      let formula;
      let variable_name;
      let variable;


      // this.get_value('string')
      var get_value_string = /(this.(self.)?get_value\(')(\w+)('\))/g;
      let get_value_string_variables = f.match(get_value_string);
      f = f.replace(get_value_string, "");
      if (get_value_string_variables !== null) {
        for (let i = 0; i < get_value_string_variables.length; i++) {
          formula = get_value_string_variables[i];
          variable_name = formula.replace(get_value_string, "$3");
          variable = this.get_param(variable_name);
          l.push({
            name: variable_name,
            value: variable.value,
            unit: variable.unit,
          });
        }
      }

      // this.get_value('string', 'year')
      var get_value_string_year = /(this.get_value\(')(\w+)(', ')(\w+)('\))/g;
      let get_value_string_year_variables = f.match(get_value_string_year);
      f = f.replace(get_value_string_year, "");
      if (get_value_string_year_variables !== null) {
        for (let i = 0; i < get_value_string_year_variables.length; i++) {
          formula = get_value_string_year_variables[i];
          let year = formula.replace(get_value_string_year, "$4");
          variable_name = formula.replace(get_value_string_year, "$2");
          let variable_label = formula.replace(
            get_value_string_year,
            "$2 in $4"
          );
          variable = this.get_param(variable_name);
          l.push({
            name: variable_label,
            value: variable[year],
            unit: variable.unit,
          });
        }
      }

      // this.get_value2('')
      var get_value2 =
        /(this.get_value2\()([\w.]*)(, ?')([\w\(\). ?]*)(', ?')([\w\(\). ?]*)('\))/g;
      let get_value2_variables = f.match(get_value2);
      f = f.replace(get_value2, "");
      if (get_value2_variables !== null) {
        for (let i = 0; i < get_value2_variables.length; i++) {
          formula = get_value2_variables[i];
          let tab = this.my_eval(formula.replace(get_value2, "$2"));
          let nm = formula.replace(get_value2, "$4");
          let specification = formula.replace(get_value2, "$6");
          variable = this.get_param2(tab, nm, specification);
          variable_name = formula.replace(get_value2, "$6 of a $4");
          l.push({
            name: variable_name,
            value: variable.value,
            unit: variable.unit,
          });
        }
      }

      // this.get_value('this.')
      var get_value = /(this.get_value\()(this\.)([\w]*)(\))/g;
      let get_value_variables = f.match(get_value);
      f = f.replace(get_value, "");
      if (get_value_variables !== null) {
        for (let i = 0; i < get_value_variables.length; i++) {
          formula = get_value_variables[i];
          variable_name = formula.replace(get_value, "$3");
          variable = this.my_eval("this." + variable_name)
          let right_unit_variable = this.ref2unit(variable, "value");
          l.push({
            name: variable_name,
            value: right_unit_variable.value,
            unit: right_unit_variable.unit,
          });
        }
      }

      // this.other
      get_value = /(?<!get_value2\()(?<!get_value\()this.(?!(get_.*))([\w\.]*)(?![\.\w\(])/g;
      get_value_variables = f.match(get_value);
      f = f.replace(get_value, "");
      if (get_value_variables !== null) {
        for (let i = 0; i < get_value_variables.length; i++) {
          formula = get_value_variables[i];
          variable_name = formula.replace(get_value, "$2");
          variable = this.my_eval("this." + variable_name)
          let item = {
            name: variable_name,
          }
          if('value' in variable) {
            let right_unit_variable = this.ref2unit(variable, "value")
            item['value'] = right_unit_variable.value
            item['unit'] = right_unit_variable.unit
          }
          l.push(item)
        }
      }

      return l;
    },

    // return an array formula from a formula string
    formula2array(formula_object) {
      let f = formula_object.formula
      if (f === undefined) return []
      // Start with global transformations
      f = f.replace(/[\w]+\.makeUpDown\(((?:[^)(]|\((?:[^)(]|\((?:[^)(]|\([^)(]*\))*\))*\))*),((?:[^)(]|\((?:[^)(]|\((?:[^)(]|\([^)(]*\))*\))*\))*)\)/g,
        "{up: $1, down: $2}")
      f = f.replace(/actual[\w_]*percent|actual_vod_watchers_per_sub/g,"adjustPercent")
      
      let f2 = f
        .replace(
          /(this.(self.)?get_value\(')(\w+)('\))/g,
          '"}%{"type": "data", "value": "$3", "formula": "$&"}%{"type": "op", "value":"'
        )
        .replace(
          /(this.get_value\(')(\w+)(', ')(\w+)('\))/g,
          '"}%{"type": "data", "value": "$2 in $4", "formula": "$&"}%{"type": "op", "value":"'
        )
        .replace(
          /(this.get_value\()(this\.)([\w]*)(\))/g,
          '"}%{"type": "computed_data", "value": "$3", "formula": "$&"}%{"type": "op", "value":"'
        )
        .replace(
          /(this.get_value2\()([\w.]*)(, ?')([\w\(\). ?]*)(', ?')([\w\(\). ?]*)('\))/g,
          '"}%{"type": "data", "value": "$6 of a $4", "formula": "$&"}%{"type": "op", "value":"'
        )
        .replace(
          /(this.)([\w]*)(.length)/g,
          '"}%{"type": "other", "value": "#$2", "formula": "$&"}%{"type": "op", "value":"'
        )
        .replace(
          /(?<!get_value2\()(?<!get_value\()(this.)(?!(get_.*))([\w\.]*)(?![\.\w\(])/g,
          '"}%{"type": "computed_data", "value": "$3", "formula": "$&"}%{"type": "op", "value":"'
        )
        .replace(
          /(this\.(peak_rate_estimator[_\w]*)(\.[_\w]*\())/g,
          '"}%{"type": "object", "value": "$2", "formula": "$&"}%{"type": "op", "value":"$3"}%{"type": "op", "value":"'
        )
        .replace(/(Math.)/g, "")
        .replace(/\*/g," x ")
        
      f2 = '{"type": "op", "value":"' + f2 + '"}';
      f2 = f2.split("%");
      // if (formula_object.label==="Total OLTs power" || formula_object.label==="base"){
      //   console.log("F : ", formula_object.formula)
      //   console.log("F : ", f)
      //   console.log("F2 : ", f2)
      // }

      f2 = f2.map((formula_object) => JSON.parse(formula_object));
    
      return f2;
    },

    foo() {
      nb => utils.makeUpDown(0, nb * this.actual_base_percent(this.self.get_value('active_user_percentage'), nb) * this.self.get_value('basis_rate'))
      v => Z.makeUpDown(0,v*this.actual_base_percent(this.self.get_value('active_user_percentage'),v)*this.self.get_value('basis_rate'))

      this.get_value('pue_network')*(this.nb_olt_gpon_ports*this.get_value2(this.network_devices, 'OLT GPON port', 'power')+ this.nb_olt_ge_ports * this.get_value2(this.network_devices, 'OLT GE port', 'power'))
      this.get_value('pue_network')*(this.nb_olt_gpon_ports*this.get_value2(this.network_devices,'OLT GPON port','power')+this.nb_olt_ge_ports*this.get_value2(this.network_devices,'OLT GE port','power'))
    },
    displayOp(txt) {
      return txt.replace('this.','')
    },
    
    flash(formula_object) {
      var id = null;
      let toFlash = document.getElementsByClassName(formula_object.value);
      let start = Date.now();
      clearInterval(id);
      function frame() {
        if(Date.now() - start>2000){
          for(let el of toFlash) {
            el.classList.remove("flash")
          }
          clearInterval(id)
        }else{
          for(let el of toFlash) {
            el.classList.add("flash")
          }
        }
      }
      id = setInterval(frame,10);
    }
  },
};
</script>

<style scoped>

mark {
  background-color: rgb(240, 240, 240);
  overflow-wrap: break-word;
  padding: 0.05em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.3em;
}

.data {
  color: rgb(144, 80, 40);
}

.computed_data {
  color: rgb(70, 100, 190);
}

.other {
  background-color: var(--color-control-3);
}

.op{
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.op:first-child {
  padding-left:0;
}

.object {
  /* text-decoration: underline; */
  /* text-decoration-style: dotted; */
  border-bottom: 1px dashed #999;
  /* background-color: transparent; */
}

@keyframes flash {
  0%   {background-color: none;}
  5%   {background-color: rgb(255, 235, 121);}
  90%  {background-color: rgb(255, 235, 121);}
  100% {background-color: none;}
}

mark.flash {
  animation-name: flash;
  animation-duration: 2s;
}

.rhs {
  margin-left:1em;
  border-left: solid;
  padding-left: 0.5em;
  margin-bottom: 1em;
}

mark.clickable {
  cursor: pointer
}

</style>

