<template>
  <!-- contains content that can be hidden or displayed using a button -->
  <div id="s-folder">
    <b-button
      class="box-title s-icon"
      :label="title"
      :icon-right="isActive ? 'fa-solid fa-angle-up' : 'a-solid fa-angle-down'"
      v-on:click="isActive = !isActive"
    />
    <button
      v-if="isActive"
      position="is-right"
      class="button is-small s-icon"
    ></button>
    <slot v-if="isActive"></slot>
  </div>
</template>

<script>
export default {
  name: "s-folder",

  components: {},

  props: ["title", "isActiveInit"],

  data() {
    return { isActive: this.isActiveInit };
  },

  computed: {},

  methods: {},
};
</script>