<!-- adapted from https://techsparx.com/software-development/vue-js/list-list/ -->
<template>
  <!-- list component to which items can be added or deleted -->
  <div id="s-list">
    <b-field
      ><b>{{ this.label }}</b>
      <s-reference-tooltip :reference_object="reference"
        ><b-icon
          class="box-title"
          icon="fa-solid fa-info"
        ></b-icon></s-reference-tooltip
    ></b-field>
    <b-field grouped>
      <b-input v-model="newItem"></b-input>
      <button class="button" @click="addNewItem">Add</button>
    </b-field>
    <div v-for="(item, index) of list" v-bind:key="index" :id="item.id">
      {{ item.value }}
      <button class="button is-small s-icon" @click="removeItem(index)">
        <b-icon icon="fa-solid fa-trash"></b-icon>
      </button>
    </div>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  name: "s-list",

  components: {
    "s-reference-tooltip": () => import("@/components/s-reference-tooltip.vue"),
  },

  props: ["list", "label", "reference_ids"],

  data() {
    return {
      newItem: "",
    };
  },

  computed: {
    reference() {
      return {
        label: this.label,
        reference_ids: this.reference_ids,
      };
    },
  },

  methods: {
    addNewItem() {
      if (this.newItem === "") return;
      this.list.push({ value: this.newItem });
      this.newItem = "";
    },
    removeItem(index) {
      this.list.splice(index, 1);
    },
  },
};
</script>