/* eslint-disable */

<template>
<!-- number input component -->
  <div id="s-number-input">
    <b-field :label="setting['unit'] !== '' ? name + ' ('  + setting['unit'] + ')' : name" label-position="on-border">
      <b-input
        type="number"
        :min="setting['min']"
        :max="setting['max']"
        :step="setting['step']"
        :value="setting['value']"
        @input="$emit('input', $event)"
      ></b-input>
    </b-field>
  </div>
</template>

<script>

export default {
  name: "s-number-input",

  components: {},

  props: ["setting", "name"],

  data() {
    return {};
  },

  methods: {},
};
</script>