<template id="s-reference-tooltip">
  <!-- tooltip which contains the references -->
  <b-tooltip
    append-to-body
    :class="'reference-tooltip ' + (isNotNull?'':'hidden')"
    position="is-bottom"
    size="is-large"
    type="is-reference"
    multilined
    v-if="(!removeIfNull) || isNotNull"
    :active="isNotNull"
    :triggers="['click']"
    :auto-close="['outside', 'inside']"
  >
    <template #content>
      <b>{{ 'label' in reference_object ? reference_object.label : reference_object.specification  }}</b> <br />
      <template v-if="isInline">
        <p>
          {{reference_object.reference_ids.substring(1)}}
        </p>
      </template>
      <template v-else>
        <div v-for="(id, index) in reference_ids" v-bind:key="index">
          <span v-if="reference(id).url"><b>[{{ id }}]</b> {{ reference(id).title }},
            {{ reference(id).year }} <a :href="reference(id).url">(link)</a><br/>
          </span>
          <span v-if="reference(id).comment">
            comment : {{ reference(id).comment }}
            <br/>
          </span>
        </div>
      </template>
    </template>
    <slot></slot>
  </b-tooltip>
</template>

<script>
/* eslint-disable */
import {utils} from "../utils.js"

export default {
  name: "s-reference-tooltip",

  props: {
    reference_object: {required: true},
    removeIfNull: {type: Boolean, default: false}
  },

  mixins: [],

  data() {
    return {
      references: utils.references,
    };
  },

  computed: {
    isNotNull() {
      return this.reference_object.reference_ids.length>0 && this.reference_object.reference_ids[0] !== "0"
    },
    isInline() {
      return this.reference_object.reference_ids[0] === '!'
    },
    reference_ids() {
      return this.reference_object.reference_ids.split(" ");
    },
  },

  methods: {
    reference(id) {
      return this.references.find((x) => x.id === id);
    },
  },
};
</script>

<style>
.reference-tooltip.hidden i {
  color: transparent
}
</style>