<template>
  <!-- slider component -->
  <div id="s-slider">
    <b-field grouped>
      <template #label>
        {{ setting.label }}
        <span v-if="setting.unit !== ''" class="ml-1">({{ setting.unit }})</span>
        <span v-if="overwritten" class="ml-1">*</span>
        <span v-if="overwritten && value != initial_value">
          <button class="fa fa-refresh reset-button" aria-hidden="true" @click="$emit('reset')"></button>
        </span>
      </template>
      <b-slider
        :tooltip="false"
        indicator
        :min="setting['min']"
        :max="setting['max']"
        :step="setting['step']"
        :value="value"
        :custom-formatter="formatter"
        type="is-primary"
        @input="$emit('input', $event)"
      ></b-slider>
      <s-reference-tooltip :reference_object="setting">
        <b-icon class="box-title" icon="fa-solid fa-info" />
      </s-reference-tooltip>
    </b-field>
  </div>
</template>

<script>
export default {
  name: "s-slider",

  components: {
    "s-reference-tooltip": () => import("@/components/s-reference-tooltip.vue"),
  },

  props: ["setting", "value", "initial_value","overwritten"],

  data() {
    return {};
  },

  computed: {
    formatter() {
      if (this.setting['unit'] === '%') {
        return (v) => v + '%'
      }
      return (v) => String(v)
    }
  },
};
</script>