<template>
  <!-- table wich contains .csv file content -->
  <div id="s-table">
    <s-reference-tooltip v-if="reference_ids" :reference_object="reference"
      ><b-icon class="box-title" icon="fa-solid fa-info"></b-icon
    ></s-reference-tooltip>
    <div class="content">
      <section>
        <slot></slot>
        <table class="table">
          <thead>
            <th v-for="(key, index) in keys" :key="index" :id="key.id">
              <div v-if="hidden_columns.includes(key)"></div>
              <div v-else-if="index == 0">{{ key }}</div>
              <div v-else-if="table[1][key] != ''">
                {{ key }} ({{ table[1][key] }})
              </div>
              <div v-else>{{ key }}</div>
            </th>
          </thead>
          <tbody>
            <tr v-for="(item, index1) in table" :key="index1" :id="item.id" v-show="index1 >= 2">
              <td v-for="(key, index2) in keys" :key="index2" :id="item.id">
                <div v-if="number_columns.includes(key)">
                  <b-input
                    v-if="item[key]"
                    type="number"
                    min="0"
                    step="0.1"
                    size="is-small"
                    v-model.number="item[key]"
                  />
                </div>
                <div v-else-if="hidden_columns.includes(key)"></div>
                <div v-else>
                  {{ item[key] }}
                  <s-reference-tooltip :reference_object="item">
                    <b-icon class="box-title" icon="fa-solid fa-info" />
                  </s-reference-tooltip>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "s-table",

  components: {
    "s-reference-tooltip": () => import("@/components/s-reference-tooltip.vue"),
  },

  props: [
    "table",
    "title",
    "number_columns",
    "hidden_columns",
    "reference_ids",
  ],

  data() {
    return {};
  },

  computed: {
    keys() {
      return Object.keys(this.table[0]);
    },
    reference() {
      return {
        label: this.title,
        reference_ids: this.reference_ids,
      };
    },
  },

  methods: {},
};
</script>