
// Import Bulma's core
@import "bulma/sass/utilities/_all.sass";

$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

$slider-radius: 1px;
$slider-track-radius: 1px;
$slider-thumb-to-track-ratio: 4;

// Import Bulma and Buefy styles
@import "bulma/bulma";
@import "buefy/src/scss/buefy";


:root {
  /* --color-control-1: #5b7f88  ; */
  --color-control-1 : #82b4c0;
  --color-control-2: #6a6c75;
   /*--color-control-2 : #a9acbb;*/
  --color-control-3: #dba041;
  --color-title-hover: #212b44;
  --color-title: #5c6785;
}

body {
  width: 100em;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#container {
  height: 45rem;
  border: 1px solid #ccc;
  overflow-y: hidden;
  overflow-x: hidden;
}

.footer {
  font-size: 80%;
  color: #333;
  font-style: italic;
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.note {
  font-style: italic;
  font-size: 80%;
}

span.unit {
  /*font-size : 80%*/
  font-size: 100%;
  padding-left: 2px;
}

.taginput .taginput-container.is-focusable,
.textarea,
.input {
  max-width: 100%;
  width: 100%;
}

input:enabled {
  border: 1px solid #cccccc;
}

input:disabled {
  background-color: #e1e1e1;
  border: 1px solid #cccccc;
}

.control.is-small.is-clearfix {
  width: 100%;
}

.table.is-narrow td,
.table.is-narrow th {
  padding: 0.25em 0.1em;
}

.tabs a:hover {
  color: var(--color-title-hover);
  border-bottom-color: var(--color-title-hover);
}

.tabs li.is-active a {
  color: var(--color-title);
  border-bottom-color: var(--color-title);
}

.b-tabs .tabs li a:focus {
  border-bottom-color: var(--color-title);
}

h1 {
  margin: px;
  font-size: 1.6rem;
  font-weight: 1000;
  color: rgb(56, 56, 56);
}

h2 {
  margin: px;
  font-size: 1.4rem;
  font-weight: 1000;
}

h3 {
  margin: px;
  font-size: 1rem;
  font-weight: 1000;
}

.control.is-small.is-clearfix {
  width: 100px;
}

.field.is-grouped>.control:not(:last-child) {
  margin-right: 0rem;
}

/* .field:not(:last-child) {
  margin: 0.2rem;
} */

.label.label {
  margin: 0;
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.box-title {
  font-size: large;
  font-weight: 700;
  background-color: transparent;
  color: var(--color-title);
  border-color: rgb(255, 255, 255);
  border-top: var(--color-title) solid;
  border-top-width: 0px;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
}

.box-title:hover,
.box-title:focus {
  color: var(--color-title-hover);
  border-color: rgb(255, 255, 255);
  border-top: var(--color-title-hover) solid;
  border-top-width: 0px;
}

.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: 0 0 0 0 rgb(117, 26, 19)
}

.columns {
  margin: 0rem;
}

.s-icon {
  border-width: 0;
  box-shadow: transparent;
  color: var(--color-title);
}

.s-icon:hover {
  border-width: 0;
  box-shadow: transparent;
  color: var(--color-title-hover);
}

.column {
  padding: 0.25rem;
}

/* .box {
  background-color: transparent;
  padding: 0.2rem;
  margin: 0.1rem;
  border-bottom: var(--color-title) solid;
  border-radius: 0;
} */

.box:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* .block {
  margin: 0.1rem;
} */

.control.is-clearfix {
  width: 65%;
}

.small {
  height: 8.5rem;
}

.b-slider {
  margin: 5px;
}

.b-slider .b-slider-thumb-wrapper.has-indicator .b-slider-thumb {
  padding: 1px;
  font-size: 80%;
}

// .b-slider .b-slider-track {
//   background-color: var(--color-control-2);
// }

// .b-slider.is-primary .b-slider-fill {
//   background: var(--color-control-1) !important
// }

.notification {
  padding: 0rem;
  background-color: rgba(0, 0, 0, 0.0);
}

/* .field.is-floating-label .label,
.field.is-floating-in-label .label {
  left: 0em;
} */

/* .button {
  padding: 0.2rem;
  height: 1.4rem;
  background-color: transparent;
}

.button.is-primary:hover,
.button.is-primary.is-hovered {
  background-color: var(--color-title-hover);
}

.button.is-primary {
  background-color: var(--color-control-1);
} */

.fix {
  position: fixed;
}

.b-tooltip.is-reference .tooltip-content {
  background-color: var(--color-title);
  text-align: left;
  color: #fff
}

.is-reference .tooltip-content a {
  color: var(--color-control-1);
}

.is-reference .tooltip-content a:hover {
  color: #bbd6dd;
}

.formula-display {
  text-align: left;
  width: 25rem;
}

.formula-container {
  padding: 0.5em;
  font-size:90%
}

.tab-content .tab-content {
  padding-left: 0;
  padding-right: 0;
}

.computed-tooltip:hover, .reference-tooltip:hover {
  cursor: pointer
}

.reference-tooltip.hidden:hover {
  cursor: default
}

.reset-button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 7px;
}