<template>
    <div id="app">
      <simulator>
      </simulator>
    </div>
  </template>
  
  <script>
  
  export default {
    name: 'App',
    components: {
      'simulator': () => import('@/components/FTTH-simulator.vue')
    }
  }
  </script>
  
  <style>
  @import "./assets/css/icons.css";
  </style>
  